name: Preprocessing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run preprocessing
        run: |
          python preprocessing/automate_Kadek_Andra_Wikanjaya_Putra.py

      - name: Upload preprocessing dataset
        uses: actions/upload-artifact@v4
        with:
          name: preprocessing-dataset
          path: "**/*.csv"

